<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="File" value="target/testoutput.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-6r [%15.15t] %-5p %30.30c %x - %m%n" />
		</layout>
	</appender>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-6r [%15.15t] %-5p %30.30c %x - %m%n" />
		</layout>
	</appender>
	
	<logger name="net.google">
		<level value="TRACE" />
	</logger>
	
	<logger name="net.google.safebrowsing2.db">
		<level value="DEBUG" />
	</logger>
	
	<logger name="com.buildabrand.gsb">
		<level value="DEBUG" />
	</logger>

	<root>
		<priority value="WARN"></priority>
<!--  		<appender-ref ref="stdout" /> -->
		<appender-ref ref="file" />
	</root>
</log4j:configuration>